<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Site{% endblock %}</title>
    <link href="{% static "vendor/fontawesome/css/fontawesome.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/fontawesome/css/solid.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/fontawesome/css/brands.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/datatables/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/master.css" %}" rel="stylesheet">
    <link href="{% static "vendor/flagiconcss/css/flag-icon.min.css" %}" rel="stylesheet">
</head>

<style>
    .disabled-link {
        pointer-events: none;
        color: gray;
    }    
</style>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static "images/pstu_logo.png" %}" alt="PSTU logo" class="app-logo" style="height: 8vh;">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="{% url 'StudentApp:student_dashboard' %}"><i class="fas fa-home"></i> Dashboard</a>
                </li>

                <li>
                    <a href="{% url "StudentApp:student_enrollment" %}"><i class="fas fa-bangladeshi-taka-sign"></i> Enrollment</a>
                </li>

                <li>
                    <a href="{% url "StudentApp:payment_history" %}"><i class="fas fa-history"></i> Payment History</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>Hello, {{ user.username|upper }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{% url 'StudentApp:student_logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            {% block content %}
            <!-- Default content if not overridden -->
            <p>Welcome to my site!</p>
            {% endblock %}
        </div>
    </div>
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "vendor/chartsjs/Chart.min.js" %}"></script>
    <script src="{% static "vendor/datatables/datatables.min.js" %}"></script>
    <script src="{% static "js/initiate-datatables.js" %}"></script>
    <script src="{% static "js/dashboard-charts.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
