body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_content {
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
}
.btn a {
    text-decoration: none; /* Remove underline from the link */
    color: #000000; /* Set the link color as needed */
}