<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
        <a class="navbar-brand" href="">
            <img src="{% static "images/pstu_logo.png" %}" alt="Logo" width="50" height="40" class="d-inline-block align-text-center">
            <span class="text-warning">Enrollment</span> Sytem
        </a>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link admin" href="{% url 'FacultyApp:faculty_admin_login' %}">Admin</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Navbar End -->
    

    <!-- Carousel Start -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active bg-warning" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="bg-warning" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="bg-warning" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static "images/Admin-Bhaban.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Get Enrolled</h5>
              <p>The enrollment period for the [8th Semester/2024] is scheduled to commence on [25 April, 2024] and conclude on [29 April, 2024]. Please ensure that you adhere to the specified dates to avoid any complications in the enrollment process.</p>
              <p>
                <a href="" class="btn btn-warning mt3">Teacher Login</a>
                <a href="" class="btn btn-warning mt3">Student Login</a>
              </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static "images/Back-side-of-admin-bhaban.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Get Enrolled</h5>
              <p>The enrollment period for the [8th Semester/2024] is scheduled to commence on [25 April, 2024] and conclude on [29 April, 2024]. Please ensure that you adhere to the specified dates to avoid any complications in the enrollment process.</p>
              <p>
                <a href="" class="btn btn-warning mt3">Teacher Login</a>
                <a href="" class="btn btn-warning mt3">Student Login</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static "images/7-man.jpg" %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Get Enrolled</h5>
              <p>The enrollment period for the [8th Semester/2024] is scheduled to commence on [25 April, 2024] and conclude on [29 April;, 2024]. Please ensure that you adhere to the specified dates to avoid any complications in the enrollment process.</p>
              <p>
                <a href="" class="btn btn-warning mt3">Teacher Login</a>
                <a href="" class="btn btn-warning mt3">Student Login</a>
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- Carousel Ends -->


    <!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>