<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Faculty Adimin Login</title>
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/auth.css" %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <a href="{% url "FacultyApp:index" %}">
                            <img class="brand" style="height: 20dvh;" src="{% static "images/pstu_logo.png" %}" alt="PSTU logo">
                        </a>
                    </div>
                    <h6 class="mb-4 text-muted">Login to your account</h6>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3 text-start">
                            <label for="text" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="mb-3 text-start">
                            <div class="form-check">
                              <input class="form-check-input" name="remember" type="checkbox" value="" id="check1">
                              <label class="form-check-label" for="check1">
                                Remember me on this device
                              </label>
                            </div>
                        </div>
                        <input class="btn btn-primary shadow-2 mb-4" type="submit" value="Login">
                        {% comment %} <button >Login</button> {% endcomment %}
                    </form>
                    {% for msg in messages %}
                        <h6 style="color: red">{{msg}}</h6>
                    {% endfor %}
                    <p class="mb-2 text-muted">Forgot password? <a href="{% static "forgot-password.html" %}">Reset password</a></p>
                    {% comment %} <p class="mb-0 text-muted">Don't have account yet? <a href="{% static "signup.html" %}">Signup</a></p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>