<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eight Semester Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/semester/eights.css" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </head>
  <body>
    <div class="main">
        <h3>Eight Semester Courses</h3>
        <div class="table">
            <table>
                <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Credit Hour</th>
                <th>Credit Fee</th>
                </tr>
                <tr>
                    <td>CSE 420</td>
                    <td>Project/Thesis</td>
                    <td>3.00</td>
                    <td>225</td>
                </tr>
                <tr>
                    <td>CSE 421</td>
                    <td>Seminar</td>
                    <td>1.00</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>CCE 421</td>
                    <td>Cryptography and Network Security</td>
                    <td>3.00</td>
                    <td>225</td>
                </tr>
                <tr>
                    <td>CCE 422</td>
                    <td>Wireless and Cellular Communication</td>
                    <td>3.00</td>
                    <td>225</td>
                </tr>
                <tr>
                    <td>CIT 421</td>
                    <td>Computer Graphics and Image Processing</td>
                    <td>3.00</td>
                    <td>225</td>
                </tr>
                <tr>
                    <td>CIT 422</td>
                    <td>Computer Graphics and Image Processing Sessional</td>
                    <td>1.5</td>
                    <td>112.5</td>
                </tr>
                <tr>
                    <td>CIT 423</td>
                    <td>OPTIONAL - Machine Learning</td>
                    <td>3.00</td>
                    <td>225</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td>1312.5 tk</td>
                </tr>
            </table>
        </div>

        <div class="billing_button">
            <a href="../payment.html" class="btn btn-danger">Pay Enrollment Fee</a>
        </div>

    </div>






    <script src=""></script>
  </body>
</html>