<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">

    <title>PSTU Enrollment</title>
</head>
<body>
    
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'first' %}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://pstu.ac.bd/">Notice</a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Navbar section ends -->


      <marquee width="100%" direction="left" height="40px" scrollamount="12" bgcolor="lightblue" >
        <h3>The enrollment period for the [8th Semester/2024] is scheduled to commence on [21 April, 2024] and conclude on [29 feb, 2024]. Please ensure that you adhere to the specified dates to avoid any complications in the enrollment process..</h3>
      </marquee>

    <div class="body_content">

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Agriculture</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Computer Science and Engineering</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Business Administration</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Animal Science and Veterinary Medicine</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Fisheries</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Environmental Science and Disaster Management</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Nutrition and Food Science</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Law and Land Administration</a></h6>
            </button>

            <button class="btn btn-outline-warning" type="button">
                <h6><a href="{% url 'login' %}">Faculty of Postgraduate Studies</a></h6>
            </button>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>